.expense{
    padding: 10px;
    margin: 10px;
    border-radius: 12px;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,0.64) 0%, rgba(255,255,255,0.64) 100%);
    box-shadow: 0 1px 4px rgba(31, 20, 20, 0.10);
}
